<hlm-alert-dialog>
  <button
    brnAlertDialogTrigger
    hlmBtn
    [variant]="variant()"
    [size]="size()"
    [class]="triggerClass()"
    (click)="$event.stopPropagation()"
  >
    <ng-content/>
  </button>
  <ng-template brnAlertDialogContent let-ctx>
    <hlm-alert-dialog-content>
      <hlm-alert-dialog-header>
        <h3 hlmAlertDialogTitle>Remove Variable Override</h3>
        <p hlmAlertDialogDescription>
          Are you sure you want to remove the override for <strong>{{ keyName() }}</strong>in
          <strong
            >{{
                        environmentName() }}</strong
          >?
        </p>
      </hlm-alert-dialog-header>
      <hlm-alert-dialog-footer>
        <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
        <button hlmAlertDialogAction variant="destructive" (click)="onRemove(ctx)">
          {{ loading() ? 'Removing...' : 'Remove Override' }}
        </button>
      </hlm-alert-dialog-footer>
    </hlm-alert-dialog-content>
  </ng-template>
</hlm-alert-dialog>
